@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Sistema de Biblioteca</h1>
    <p class="lead">Bienvenido al sistema de gestion de biblioteca</p>
    <p><a href=#" class="btn btn-primary btn-lg">Inicio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Libros</h2>
        <p>Administra tus reservas de Libros</p>
        <p><a class="btn btn-default" href="/ReservaLibro">Abrir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Salones de Reuniones</h2>
        <p>Administra tus reservas de Salones de Reuniones</p>
        <p><a class="btn btn-default" href="/ReservaSalon">Abrir &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Espacios de trabajo</h2>
        <p>Administra tus reservas de Espacios de Trabjo</p>
        <p><a class="btn btn-default" href="/ReservaEspacioTrabajo">Abrir &raquo;</a></p>
    </div>
</div>