
@{
    ViewBag.Title = "Index";
}

<h2>Mantenimiento Libros</h2>

<div class="">
    <form>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input required type="text" class="form-control" id="nombre" name="nombre">
        </div>

        <div class="form-group">
            <label for="autor">Autor</label>
            <input required type="text" class="form-control" id="autor" name="autor">
        </div>

        <div class="form-group">
            <label for="genero">Genero</label>
            <input required type="text" class="form-control" id="genero" name="genero">
        </div>

        <div class="form-group">
            <label for="paginas">Paginas</label>
            <input required type="number" class="form-control" id="paginas" name="paginas" min="1">
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>


</div>

